@media screen and (min-width: 1200px){
    
    body{
        background-image: linear-gradient(to bottom, #5d0500, #EBC417);
    }

    .login{
        max-width: 1200px;
        transition: max-width .5s,
    }
    section.login > div.img{
        float: right;
        width: 600px;
        height: 100%;
        border-radius: 0px;
    }
    
    .contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .txt{
        position: absolute;
        top: 40%;
        align-items: center;
        
    }
}