@media screen and (min-width: 900px){
    .login{
        width: 70%;
    }
    section.login > div.img{
        float: left;
        width: 30vw;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}